<br />
<div class="row">
  <div class="login-form col-md-3 offset-md-4">
    Yourtechy OAuth2-jwt Service
    <h4>Sign-in</h4>
    {{#if error}}
    <p class="alert alert-danger" style="font-size:0.8rem;padding:10px !important;">
      {{ loud error }}
    </p>
    {{/if}}
    <form method="POST">
      <div class="form-group">
        <label for="username">
          Username
          <span class="text-danger">*</span>
        </label>
        <input name="username" id="username" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">
          Password
          <span class="text-danger">*</span>
        </label>
        <input name="password" id="password" type="password" class="form-control">
      </div>
      <div class="button-group">
        <button class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
